#gameboard {
  /*background-color: blue;*/
  margin: auto;
  height: 400px;
  width: 800px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  display: inline-block;
}

ul li {
  width: 20px;
  height: 20px;
  background-color: red;
  display: inline-block;
}

.bonus {
background-color: blue;
}

.used-bonus {
  background-color: gray;
}

.win {
  /*background-color: green;*/
  background-image: url("https://pbs.twimg.com/profile_images/616323696601468930/SkNd2ppU.png");
  width: 20px;
  height: 20px;
}

img {
  height: 20px;
  width: 20px;
}

.player {
  background-color: white;
  width: 0px;
 height: 0px;
 border-right: 10px solid transparent;
 border-top: 10px solid yellow;
 border-left: 10px solid yellow;
 border-bottom: 10px solid yellow ;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}

/*.pacmanRight {
  background-color: white;
  width: 0px;
 height: 0px;
 border-right: 10px solid transparent;
 border-top: 10px solid yellow;
 border-left: 10px solid yellow;
 border-bottom: 10px solid yellow ;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}

.pacmanLeft {
  background-color: white;
  width: 0px;
 height: 0px;
 border-right: 10px solid yellow;
 border-top: 10px solid yellow;
 border-left: 10px solid transparent;
 border-bottom: 10px solid yellow ;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}

.pacmanUp {
  background-color: white;
  width: 0px;
 height: 0px;
 border-right: 10px solid yellow;
 border-top: 10px solid transparent;
 border-left: 10px solid yellow;
 border-bottom: 10px solid yellow ;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}

.pacmanDown {
    background-color: white;
    width: 0px;
   height: 0px;
   border-right: 10px solid yellow;
   border-top: 10px solid yellow;
   border-left: 10px solid yellow;
   border-bottom: 10px solid transparent;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
  }*/

  div {
    float: right;
    height: 600px;
    width: 300px;
    border: 1px solid black;
  }

#score {
  border: 2px dotted black;
  height: 80px;
  width: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-family:'Indie Flower', cursive;
  display: inline-block;
  vertical-align: top;
}

#leaderboardTop {
  width: 0;
	height: 0;
	border-left: 37.5px solid transparent;
	border-right: 37.5px solid transparent;
	border-bottom: 75px solid yellow;
  margin-left: 112px;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
}

#leaderboardMiddle {
	border-bottom: 75px solid red;
	border-left: 37.5px solid transparent;
	border-right: 37.5px solid transparent;
	height: 0;
	width: 75px;
  display: inline-block;
  margin-left: 75px;
  margin-bottom: 0px;
  margin-top: 0px;
  vertical-align: middle;
}

#leaderboardBottom {
  border-bottom: 150px solid blue;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  height: 0;
  width: 150px;
  display: inline-block;
  margin-left: 0px;
  margin-top: 0px;
  vertical-align: middle;
}

.topWall {
  background-color: black;
}

.bottomWall {
  background-color: black;
}

.leftWall {
  background-color: black;
}

.rightWall {
  background-color: black;
}

.wall {
  background-color: black;
}
